.secondary__btn {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: $primary--color-dark-1;
    text-transform: uppercase;
    padding: 0.8rem 1.2rem;
    border: 2px solid $primary--color-dark-1;
    transition: all 0.3s;
  }

  &:hover,
  &:active {
    background-color: $primary--color-dark-1;
    color: $color--white;
  }
}
