* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  text-decoration: none;
  list-style: none; }

header {
  max-width: 100%;
  height: 8rem;
  background-color: #c38154;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem; }

.logo {
  font-size: 3rem;
  font-weight: 700;
  color: #fff; }

.hamburger {
  display: none; }

.navigation ul {
  display: flex;
  list-style: none; }
  .navigation ul li a {
    display: block;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem 2.4rem;
    border-radius: 0.5rem;
    transition: 0.2s;
    margin: 0 0.5rem; }
  .navigation ul a:hover {
    background-color: #271a11; }
  .navigation ul li a.active {
    background-color: #271a11; }

@media (max-width: 82.5em) {
  header {
    padding: 0 5rem; } }

@media (max-width: 68.8em) {
  header {
    padding: 0 3rem; } }

@media (max-width: 56.3em) {
  .hamburger {
    display: block;
    cursor: pointer; }
    .hamburger__line {
      width: 3rem;
      height: 0.3rem;
      background-color: #fff;
      margin: 0.6rem 0; }
  .navigation {
    height: 0;
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #c38154;
    transition: 0.5s;
    overflow: hidden; }
    .navigation ul {
      display: block;
      width: fit-content;
      margin: 8rem auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0; }
      .navigation ul li a {
        margin-bottom: 1.2rem; }
  .navigation.active {
    height: 45rem; }
    .navigation.active ul {
      opacity: 1; } }
