.hero__section {
  margin-left: 9.6rem;
  margin-right: 9.6rem;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 13.2rem;

  &--image {
    width: 40rem;
    height: 40rem;
  }

  p {
    //  width: 60%;
    font-size: 2rem;
    font-weight: 500;
    color: $primary--color-dark-1;
  }

  &--heading {
    color: $primary--color;
    text-transform: uppercase;
  }
}

/*

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
